.body {
    font-family: 'Montserrat', sans-serif;
    
}
 ul{
    padding: 0;
 }
h1,h2,h3,h4{
    margin: 0;
}
/* main styles */

.main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #d2d6da;
    max-width: 1200px;
    margin: 0 auto;
    
}

/* main_content styles */
.main_content {
    position: relative;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 20px 28px;
}


/* about styles */

.about {
    
    margin-bottom: 40px;
    padding: 0px;
}

.about_position{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about_name{
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 40px;
}

.about_description {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* projects styles */
.projects {
    
    margin-bottom: 50px;

} 

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}


.projects_list{
    padding: 0px;
    margin-left: 18px;
}

/* work styles */
.work {
   margin-bottom: 45px;
} 

.work_position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.period{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #706f6f;
    margin-bottom: 10px;
}

.line{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 10px;
}

.work_list{
    padding: 0px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.work_list_item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* education styles */
.education-list{
    list-style: none;
}

.institute{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
    
}

.specialty{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}

.project_title {
    font-size: 45px;
    color: rgb(17, 17, 19);
}

.project_item{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;

}

.project,
.project_link
{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project_link{
    margin-left: 10px;
}

.project_bracket {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;

}

/* sidebar styles */
.sidebar {
    background: rgb(42, 34, 34);
        background: linear-gradient(0deg, rgba(42, 34, 34, 1) 13%, rgba(57, 45, 106, 1) 63%);
    padding-top: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 370px;
}

.photo{
    display: block;
    width: 300px;
    border-radius: 50%;
    margin: 10px auto;
    
}


.sidebar_title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contacts, 
.tech_skills,
.soft_skills
 {
margin-left: 20px;
}




.contact_type {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;    
    color: #FFFFFF;
    margin-right: 10px;
    margin-left: 20px;
}

.contact_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #dddddf;
    text-decoration: none;
}
.contact_link:hover{
text-decoration:underline;
}
.mylink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    cursor: pointer;
    color: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mylink:hover,
.mylink:focus {
    background-color: white;
    color: rgba(57, 45, 106, 1);
}

.mylink-items {
    display: flex;
    gap: 10px;
    list-style: none;
}

.mylink-items__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}


.tech_skills_list,
.soft_skills_list {
    color: #FFFFFF;
    padding: 0px;
    margin-left: 30px;
}

.tech_skills_item,
.soft_skills_item {
    color: #FB6D3A;
}

.tech_skills_text,
.soft_skills_text 
    {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.button{
    background-color: inherit;
    border-color: rgba(57, 45, 106, 1);
    padding: 5px;
    color: #FFFFFF;
    cursor: pointer;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 20px;
        margin-left: 20px;
}

.button:hover{
    border-color: #ffffff;
    border-radius: 5px;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: visible;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 20px;
    max-width: 528px;
    height: 60%;
    overflow: auto;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modaltext {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-bottom: 5px;
    color: #212121;
}

.closebutton {
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: var(--textwhite-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    fill: rgb(95, 63, 34);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.closebutton:hover {
    fill: rgb(250, 121, 1);
    border-color: #5b0466;
}
.closebutton-icon {
    width: 18px;
    height: 18px;

}

.download{
position: absolute;
top: 10px;
right: 10px;
display: flex;
flex-direction: column;
align-items: center;
text-decoration: none;
color: black;
}

.download:hover{
    text-decoration: underline;
}

@media screen and (max-width:767px) {
    ul,li,p,h1,h2,h3,h4{
        margin: 0;
        padding: 0;
    }
    .main {
        display: block;
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .photo{ 
        margin-bottom: 10px;
        
    }
    .contacts,
    .tech_skills,
    .soft_skills {
        margin-bottom: 10px;
        
    }
    .contact_type{
        margin: 0;
    }
    .button{
    margin-bottom: 10px;
    margin-left: 0;
    }
        .main_content {
    width: 100%;
        }
    .modaltext {
     font-size: 14px;
 }
 .download {
    display: none;
 }
}